root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[{*.apinotes,*.yaml,*.yml,.clang-format,.clang-tidy,_clang-format,pubspec.lock}]
indent_size = 2

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2
