name: Release

on:
  push:
    branches:
      - main
      - 'releases/**'

env:
  BUILD_TYPE: Release

jobs:
  build_linux:
    name: "Linux"
    uses: ./.github/workflows/build.yml
    with:
      runner: ubuntu-latest
      artifact_name: linux
  build_macos:
    name: "macOS"
    uses: ./.github/workflows/build.yml
    with:
      runner: macos-latest
      artifact_name: macos
  build_windows:
    name: "Windows"
    uses: ./.github/workflows/build.yml
    with:
      runner: windows-latest
      artifact_name: windows