name: main

on:
  push:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} --install-prefix ${{github.workspace}}/dist
      env:
          BUILD_NUMBER: ${{ github.run_number }}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      env:
          BUILD_NUMBER: ${{ github.run_number }}
          
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}
      env:
          BUILD_NUMBER: ${{ github.run_number }}
          
    - name: Install
      working-directory: ${{github.workspace}}/build
      run: cmake --install . --config ${{env.BUILD_TYPE}}
      env:
          BUILD_NUMBER: ${{ github.run_number }}

    - name: Package
      working-directory: ${{github.workspace}}/build
      run:  cpack --config CPackConfig.cmake -C ${{env.BUILD_TYPE}} -G ZIP --verbose -B ${{github.workspace}}/packages
      env:
        BUILD_NUMBER: ${{ github.run_number }}

    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: linux
        path: ${{github.workspace}}/packages/*